.mainbg
{
  background-image: url("https://www.reddit.com/media?url=https%3A%2F%2Fpreview.redd.it%2Fmeh-the-patch-wasnt-that-big-abaddon-v0-nrj8bkgfim2d1.png%3Fauto%3Dwebp%26s%3Dbc939bf5de9bd5f8b02efd4fb804f5b81f125d54");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

