.navbar {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    position: relative;
    height: 100px;
    
}

.navbar-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(65, 65, 65);
    padding: 1rem;
    color: #ffffff;
    text-align: center;
    z-index: 1; /* add this to ensure it's on top of other elements */
  }

.navbar-brand {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 20px; 
    margin-left: 40px;
}

.navbar-brand a {
    display: flex;
    align-items: center;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
}


.navbar-links {
    flex: 20rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-weight: none;
    
}

.navbar-links a {
    color: #000000;
    text-decoration: none;
    
}

.navbar-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 50px;
}

.login-button {
    padding: 0.6rem 0.4rem;
    cursor: pointer;
    border: none;
    border-radius: 14px;
    font-weight: bolder;
    color: #0a8549;
    
}

.signup-button {
    padding: 0.5rem 2rem;
    cursor: pointer;
    border: none;
    border-radius: 16px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    height: 37px;
    
}



.login-button {
    background-color: transparent; 
    font-size: 15px;
}

.signup-button {
    background-color: #0a8549; 
    font-size: 14px; 
    
}


@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .navbar-links,
    .navbar-buttons {
        display: none;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #ffffff;
        padding: 200px;
        font-size: 15px;
        
        
    }

    .navbar-links.open,
    .navbar-buttons.open {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-links a,
    .login-button,
    .signup-button {
        padding: 1.5rem;
        border-bottom: 1px solid #ffffff;
       
    }

    .navbar-links a:last-child,
    .signup-button {
        border-bottom: none;
    }

    
    .menu-toggle {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.5rem;
        color: #000000;
        cursor: pointer;
        z-index: 1100;
    }
}